<%= provide(:title, 'Contact') %>
<div id="map" style="height: 500px; width: 100%;">
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API']%>&callback=myMap"></script>
</div>