<%= provide(:title, 'Contact') %>
<div id="map" style="height: 500px; width: 100%;">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhKHDtNIjuQu4fnrQ8veQeQrBiN4K4JOQ&callback=myMap"></script>
</div>