@import "bootstrap-sprockets";
@import "bootstrap";

#bs-example-navbar-collapse-1 > ul:nth-child(1) > li > a {
  background-color: transparent;
}

body > nav > div > div.navbar-header {
  padding: 25px;
  margin-top: -2rem;
}

body > nav > div > div.navbar-header, #bs-example-navbar-collapse-1 {
  background-color: #00cccc !important;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-brand.navbar-right > a > li {
  color: #2E2F30 !important;
}

#bs-example-navbar-collapse-1 > ul > li > a {
  color: #2E2F30 !important;
  margin-top: 1rem;
}