@import "bootstrap-sprockets";
@import "bootstrap";

ul.navbar {
  background: #fff; /* Old browsers */
  width: 960px;
  margin: 2em auto;
}

ul.navbar li {
  float: left;
  margin: 0;
  position: relative;
  list-style: none;
}


ul.navbar li a:hover,
ul.navbar li:hover > a {
  background: #00cccc;
  color: #fff !important;
}

body > ul > li > a > img:hover {
  transition: background-color 0.75s ease;
  background: #00cccc;
}