<ul class="navbar">
  <li class="text-center" style="border-bottom: #00cccc; margin: 1em; color: slategray; font-size: 24px;"><a href="<%= careers_path %>"><%= image_tag 'jobs.png', class: 'img-responsive', size: 100 %></a><%= link_to 'Careers', careers_path %></li>
</ul>